.s2 {
    background-color: oldlace;
}
.echart-jar {
    float: left;
}
.s2 .echart-jar {
    height: 40vmin;
    width: 50%;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    width: 0;
    height: 0;
}